body{
    background-image: url(../Images/teton.png);
color: burlywood;
font-style: oblique;
} 

h1{
    color:burlywood;
    font-style: oblique;
}

a{
font-size: xx-large;
color:burlywood;
font-style: oblique;
}

.center{
display: block;
margin-left: auto;
margin-right: auto
}


